*{
    box-sizing: border-box;
}
body{
    margin: 0px 0px;
}
header{
    background-color: rgb(0, 255, 191);
    text-align: center;
    padding: 15px;

}
nav{
    /* background-color: rgb(60, 255, 0); */
    background-color: white;
    float: left;
    width: 20%;
    height: 550px;
    padding-top: 20px;
    font-size:2vw;
}
nav ul{
    list-style-type: none;
    /* margin: 0px; */
    /* padding: 0px; */
}
article{
    /* background-color: rgb(139, 255, 104); */
    background-color: white;
    float: left;
    width: 80%;
    /* padding: 5%; */
    height: 550px;
}
footer{
    background-color: rgb(53, 146, 115);
    color: white;
    text-align: center;
    padding: 5%;
}
.btnnav{
    background-color: blue;
    display: inline-block;
    padding: 5px 20px;
    width:80%;
    margin-bottom: 30px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    text-align: center;
}
.btnnav:hover{
    background-color: brown;
}
a{
    text-decoration: none;
    color: white;
    
}




.card {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.445);
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    margin: 5px;
    margin-left: 30px;
    width: 28%;
    display: inline-block;
    
  }
  
  .card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  
  .card-text {
    text-align: center;
    padding: 10px;
  }
  
  .card-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-text p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #333;
  }
  button{ 
    background-color: black;
    color: white;
    border-radius: 10px;
  }
